{{#> email }}
<h1>Beste {{name}},</h1>
<p>Je wachtwoord voor TOP voor {{organization}} is aangepast. Als je dit niet zelf hebt gedaan, vragen we je wachtwoord zo spoedig mogelijk te wijzigen en contact met ons op te nemen.</p>
<hr />
<p>Met vriendelijke groet,</p>
<p>TOP</p>
{{/email}}
