{{#> email }}
	<h1>Beste,</h1>
	<p>Deze deelnemer heeft zich ook bij een ander Taalhuis geregistreerd. Je kunt er voor kiezen deze persoon te benaderen om te vragen of deze nog in jouw Taalhuis geregistreerd moet blijven, of dat je deze wil verwijderen. </p>
	<hr />
	<ul>
		{{#each registrationInput}}
			<li>{{this}}</li>
		{{/each}}
	</ul>
	<hr />
	<p>Met vriendelijke groet,</p>
	<p>TOP</p>
{{/email}}
