{{#> email }}
	<h1>Beste,</h1>
	<p>Deze deelnemer is al bekend in TOP bij een ander Taalhuis. Waarschijnlijk heeft deze deelnemer een nieuwe (leer)vraag. Zou je even contact met deze persoon willen opnemen?</p>
	<hr />
	<ul>
		{{#each registrationInput}}
			<li>{{this}}</li>
		{{/each}}
	</ul>
	<hr />
	<p>Met vriendelijke groet,</p>
	<p>TOP</p>
{{/email}}
