{{#> email }}
<h1>Beste {{name}},</h1>
<p>Je hebt aangegeven dat je je wachtwoord voor TOP voor {{organization}} bent vergeten. Via onderstaande link kan je je wachtwoord opnieuw instellen. Deze link is beperkt geldig.</p>
{{> button link=resetButtonLink label="Nieuw wachtwoord instellen" }}
{{> button-link-fallback link=resetButtonLink}}
<hr />
<p>Met vriendelijke groet,</p>
<p>TOP</p>
{{/email}}
