@import 'styles/variables/spacing';
@import 'styles/variables/colors';

.container {
    text-decoration: none;
    .contentContainer {
        width: 100%;
        padding: spacing(6);
        border-radius: 16px;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.11);
        background-color: hsl(0, 0%, 100%);
        display: flex;
        margin-bottom: spacing(6);
        cursor: pointer;

        .leftComponentContainer {
            flex: 0.4;
        }

        .statusContainer {
            display: flex;
            flex: 0.6;
            flex-direction: column;
            .row {
                display: flex;
                .itemContainer {
                    width: 244.8px;
                }
            }
        }

        .hr {
            margin: spacing(5) 0;
        }
    }
}
