@import 'styles/variables/spacing';
@import 'styles/variables/colors';

.tableContainer {
    display: flex;
    width: 100%;
    min-height: 76px;
    padding: spacing(6);

    .titleContainer {
        display: flex;
        text-transform: uppercase;
        color: $color-grey-80;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
        letter-spacing: 0.4px;
        margin-bottom: spacing(2.5);
    }

    .leftComponentContainer {
        flex: 0.4;
    }

    .rightComponentContainer {
        display: flex;
        flex: 0.6;

        .row {
            display: flex;
            .titleContainer {
                width: 244.8px;
            }
        }
    }
}
