.modal {
    position: absolute;
    border: 1px solid #ccc;
    background: #fff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    webkitoverflowscrolling: touch;
    outline: none;
    border-radius: 8px;
    max-width: 586px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background-color: rgba(35, 35, 38, 0.48);
    display: flex;
    justify-content: center;
    align-items: center;
}
