@import 'styles/variables/colors';
@import 'styles/variables/spacing';

.container {
    display: flex;
    border-radius: 8px;
    width: 100%;
    background-color: $color-grey-5;
    padding: spacing(4) spacing(6);

    .rightContainer {
        margin-left: auto;
    }
}
