@import 'styles/variables/colors';
@import 'styles/variables/spacing';
@import 'styles/variables/media-query';

.container {
    display: flex;
    flex-direction: column;
    .titleContainer {
        height: max-content;
        position: relative;
        width: 390px;

        &::before {
            content: '';
            position: absolute;
            border-radius: 1.5px;
            margin-top: spacing(3);
            bottom: -16px;
            left: 0;
            width: 24px;
            height: 3px;
            background-color: $color-bisc-orange;
        }

        .description {
            width: 220px;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.71;
            letter-spacing: normal;
            color: $color-grey-99;
        }
    }
    .formContainer {
        margin-top: spacing(4);
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

@include media-query(desktop) {
    .container {
        .formContainer {
            margin-top: 0;
        }
    }
    .container {
        display: flex;
        flex-direction: row;
    }
}
